.carousel {
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.carousel__container {
  display: flex;
  margin-left: 30vw
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
